@import "common";
/* You can add global styles to this file, and also import other style files */
$bcgov-font-path: "../../node_modules/@bcgov/bootstrap-theme/dist/fonts/";
@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";

@import "_custom.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "~bootstrap-vue/src/index.scss";

.no-top-rounding {
  border-top-left-radius: 0px !important; 
  border-top-right-radius: 0px !important;
}

.breadcrumb {
  margin-bottom: 0;
}

// ctx-* class is automatically added to the body element
.ctx-home {
  background: #f6f5f5;
}
.ctx-survey-editor .app-main {
  padding-bottom: 15px !important;
}

a.dropdown-item.active, a.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #38598a;
}

.dropdown-item:focus {
    color: black;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: black;
    text-decoration: none;
    background-color: #f8f9fa;
}
// used in survey markup (currently)
// .card-header {
//   border-bottom: 0;
// }
// FIXME replace with bootstrap 4 classes
.mrgn-tp-sm {
    margin-top: 8px;
}
.mrgn-tp-md {
  margin-top: 1.5rem;
}
.mrgn-tp-lg {
  margin-top: 3rem;
}

.mrgn-bttm-sm {
  margin-bottom: 8px;
}
.mrgn-bttm-md {
  margin-bottom: 1.5rem;
}
.mrgn-bttm-lg {
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.05em;
}

.btn-icon-left {
  margin-right: 0.25em;
}
.btn-icon-right {
  margin-left: 0.25em;
}



// loading indicator
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

$indicator-color: #666;
$indicator-size: 1em;
$indicator-thickness: 0.2em;
.loading-indicator {
  &,
  &:after {
    border-radius: 50%;
    width: $indicator-size;
    height: $indicator-size;
  }
  animation: spin 1.1s infinite linear;
  border: $indicator-thickness solid transparent;
  border-top-color: $indicator-color;
  line-height: 1;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  &:after {
    position: absolute;
    top: (-$indicator-thickness);
    left: (-$indicator-thickness);
    border: $indicator-thickness solid transparentize($indicator-color, 0.8);
    content: " ";
  }
}

.page-load {
  font-size: 2rem;
  padding: 2em;
}

.glossary-link {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  text-decoration: none;
}
.glossary-link:hover,
.glossary-link.active {
  border-bottom-style: solid;
  text-decoration: none;
}

.tooltip-inner {
  font-size: 14px;
}
.glossary-popup {
  &.in {
    opacity: 0.98;
  }
  &.bottom > .tooltip-arrow {
    border-bottom-color: #365ebe;
  }
  > .tooltip-inner {
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: #fff;
      margin: 0;
    }
    a {
      color: #fff;
    }
    background: #365ebe;
    border-radius: 8px;
    font-size: 16px;
    padding: 1rem 1.25rem 0.25rem;
    max-width: 450px;
    text-align: left;
  }
}

.app-outer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

.navbar-tag {
  border: 1px solid #fff;
  border-radius: 2px;
  display: inline-block;
  font-size: 60%;
  line-height: 1;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
}

.navbar-brand:not(.logo) {
  flex: 1 1 auto;
}

.navbar .navbar-extra {
  display: inline-block;
  flex: 1 1 auto;
  text-align: right;
}